/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-toastr/toastr.css";

:root {
	--main-primary-color: #1DB954;
	--dark-color: #191414;
	--body-bg-color: rgba(216,216,216,.17);
}

body {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 14px !important;
	background-color: var(--body-bg-color);
}

a {
	color: white;
}

a:hover, a:visited, a:link, a:active {
  	text-decoration: none!important;
  	-webkit-box-shadow: none!important;
  	box-shadow: none!important;
	color: white;
}

p {
	margin-bottom: 0 !important;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

.margin-top-main {
	margin-top: 10px;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.uppercase-text {
  text-transform: uppercase;
}

.clearfix {
	content: "";
  clear: both;
  display: table;
}

.menu-list {
  margin-left: 0;
  padding-left: 0;
}

.submenu {
	display: none;
	background-color: var(--main-primary-color)
}

.menu-item {
	color: white;
	text-transform: uppercase;
	list-style: none;
	border-top: 1px solid rgba(255,255,255,.25);
	border-left: none;
	border-right: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.menu-item.submenu {
	height: 50px;
	display: block;
}

.menu-item-height {
	height: 50px;
}

.fixed-wrapper {
	position: fixed;
}

/* Sweep to right effect */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-primary-color);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.vertical-align {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.active-menu-item {
	color: lightgrey !important;
}

/* active menu item icon */
.fas.active {
	display: block;
	background-color: var(--main-primary-color);
	height: 100%;
	line-height: 50px;
}

.menu-item-icon {
	float: left;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('images/background/blur-wallpaper.jpg');
}

.login-form {
	position: relative;
	background-color: var(--dark-color);
	width: 400px;
	min-height: 400px;
	border-radius: 3px;
}

.padded-content {
	padding-left: 30px;
	padding-right: 30px;
}

.horizontal-center {
	text-align: center;
}

.credentials {
	margin-top: 80px;
	margin-bottom: 80px;
}

.login-form label {
  color: white;
}

.login-form input {
  height: 40px;
  width: 100%;
  color: black;
	text-indent: 2px;
  background: white;
	border: none;
}

.login-form span {
	color: white;
	font-size: 12px;
}

.login-form button {
  background: var(--main-primary-color);
  padding: 10px;
  color: white;
  width: 100%;
	padding: 20px;
  cursor: pointer;
	position: absolute;
	bottom: 0;
	border: none;
}

.info-bubble {
	background-color: #F5F5F5;
	width: 100%;
	height: auto;
	position: relative;
}

.not-exists-disclaimer {
	margin-top: 30px;
	padding: 10px;
}

.not-exists-disclaimer > p::first-letter {
	text-transform: capitalize;
}

.top-arrow::before {
	content: '';
	margin-top: -20px;
	margin-left: 45%;
	border-color: #F5F5F5 transparent;
	border-style: solid;
	border-width: 0px 20px 20px 20px;
	height: 0px;
	width: 0px;
	position: absolute;
}

.sidebar {
	padding: 0 !important;
  	height: 100vh;
	background-color: var(--dark-color);
}

.expander {
	cursor: pointer;
	height: 50px;
}

.at-the-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}


.strong-label {
	font-size: 1.1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 20px;
}

.strong-label.small {
	font-size: 0.85rem;
}

.modal-preview-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.required::after {
	content: ' *';
	color: red;
	opacity: 1;
}

.mediapool-preview {
	margin-bottom: 10px;
}

.mediapool-preview:hover {
	opacity: 0.5;
}

.choosen-item {
	position: absolute;
	right: 20px;
	top: 10px;
	color: green;
}

.action-button {
	color: black !important;
	cursor: pointer;
}

.data-table th {
	text-transform: uppercase;
	word-spacing: 1em;
}

.paginator ol { 
    counter-reset: item;
    list-style-type: none;
}

.paginator button { 
	cursor: pointer;
	display: block;
	float: left;
	height: auto;
	width: 30px;
	margin: 10px;
}

.paginator ol li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
}

.buttons-wrapper {
	width: 100%;
}

.logged-user-wrapper {
	margin-bottom: 20px;
	margin-top: 20px;
	color: var(--main-primary-color);
}

.logged-user-wrapper .avatar-circle {
	margin-bottom: 10px;
}

.avatar-circle {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	object-fit: contain;
}

.main-content-header {
	margin-bottom: 20px;
}

.article-form-details {
	margin: 0 0 20px 0;
	background-color: var(--body-bg-color);
	color: black;
	height: 70vh;
}

.width-100 {
	width: 100%;
}

.article-form-details header {
	height: 50px;
	background-color: white;
	padding-left: 20px;
}

.article-form-details main {
	padding: 20px;
}

.article-form-wrapper aside {
	margin-top: 32px;
}

.btn {
	background-color: var(--main-primary-color);
	color: white;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #1DB954;
	opacity: 0.9;
}

.padding-lr-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.padding-l-0 {
	padding-left: 0 !important;
}

.padding-r-0 {
	padding-right: 0 !important;
}

.border-container {
	border-style: solid;
	border-width: 0 0 1px 0;
}

.box-shadow-basic {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-100 { border-color: rgb(0, 0, 0); }
.border-75 { border-color: rgba(0, 0, 0,0.75); }
.border-50 { border-color: rgba(0, 0, 0,0.5); }
.border-25 { border-color: rgba(0, 0, 0,0.25); }

.tab-list {
	margin: 0;
}

.tab-list li {
	margin-right: 10px;
}

.tab-list li:last-child {
	margin-right: 0;
}

.tab-list li{
	border-bottom: 0;
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 2px solid grey;
	text-transform: uppercase;
	cursor: pointer;
}

.tab-list li.active {
	border-bottom: 2px solid var(--main-primary-color);
}

input.ng-touched.ng-invalid::after {
	display: block;
	content: 'GGRGr';
}

.form-input-wrapper {
	display: flex;
	align-items: center;
}

.form-input-wrapper.padded input {
	padding-left: 30px;
}

.form-input-wrapper i {
	position: relative;
	left: 10px;
}

.underlined::after {
	display: block;
	border-bottom: 5px solid var(--main-primary-color);
	content: '';
	width: 5%;
}
